html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body {
  min-width: 500px;
}

.active {
  color: #8ec63f;
}
